h1 hey! 
#container.col
    if youAreUsingJade
      p You are amazing
    else
      p Get on it!
    p.
      Jade is a terse and simple
      templating language with a
      strong focus on performance
      and powerful features.
    img(src= "http://static.lexpress.fr/medias_10409/w_2000,h_1120,c_fill,g_north/v1430302410/obsessions-des-utilisateurs-de-google_5329785.jpeg", class="img-thumbnail img-responsive" )
