doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="/css/frontend.min.css")
  body
    div(class="container", id="container")
      include ../../public/md/test.html
    script(src="/js/frontend.min.js", type="text/javascript")
