doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    meta(name="author",content="Thibault CORDIER")
    meta(property="og:title",content="Not-Enough Space")
    meta(property="og:description", content="A DevOps blog :)")
    block stylesheets
      link(rel="stylesheet", href="/css/frontend.min.css")
      link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
